<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
 <link rel="icon" type="image/png" href="./googlie.webp"/>
 <meta name="title" content="Googlie ">
 <meta name="google-site-verification" content="Wh0uNo-wjyFbo_t4nw5QUWuL9BFFp977q5yeqSf2vs4" />
<meta name="description" content="URL shortener that fast and very simple just one click of a button and you will have your URL forever. What are you waiting for come shorten your URL now!     ">
<meta name="keywords" content="URL shortener,URL,shortener,fast URL shortener,ad free,Googlie,Nerver sell your data">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
    <title>Googlie | 404</title>
  </head>
  <body>
    <center>
      <h1>404</h1>
      <h4>That URL does not exist.</h4>
    </center>
  </body>
</html>
