<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
 <link rel="icon" type="image/png" href="./googlie.png"/>
 <meta name="title" content="Googlie ">
 <meta name="google-site-verification" content="Wh0uNo-wjyFbo_t4nw5QUWuL9BFFp977q5yeqSf2vs4" />
<meta name="description" content="URL shortener that fast and very simple just one click of a button and you will have your URL forever. What are you waiting for come shorten your URL now!     ">
<meta name="keywords" content="URL shortener,URL,shortener,fast URL shortener,ad free,Googlie,Nerver sell your data">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
    <title>Googlie | URL Shortener</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
        <div id="app">
    <section class="py-5">
      <div class="container">
 <div class="mb-3">
        <form method="POST" action="/">
          <div  class="logo-wrapper">
        <img class="logo" src="./googlie.webp"
            alt="website" />
            <h1>Googlie</h1>
            <div></div>
            <form>
            <label for="url">The Best Url Shortener</label>
            <p></p>
   <input type="url" name="url" id="url" placeholder="Enter the url to shorten" required>
   <input type="text" name="slug" placeholder="Enter a slug (optional)" syle="margin-top: 10px;" />
   <input type="submit" value="CREATE URL" />
   </form>
         <div id="response">
</div>
<footer>
          <p class="footer">Copyright © Googlie</p>
          <a href="https://github.com/brycethedeveloper">Coded by brycethedeveloper</a>
</footer>
</div>
      </div>
    </section>
  </body>
  <script src="./index.js"></script>
</html>