<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="./urlite.webp"/>
  <meta property="og:url" content="https://urlite.xyz" />
    <meta property="og:image" content="./urlite.webp" />
    <link rel="apple-touch-icon" sizes="120x120" href="./urlite.webp" />
     <link rel="apple-touch-icon" sizes="152x152" href="./urlite.webp" />
    <link rel="shortcut icon"  href="./urlite.webp" type="image/x-icon"   />
  <meta name="title" content="Urlite">
  <meta name="description"
    content="URL shortener that fast and very simple just one click of a button and you will have your URL forever. What are you waiting for come shorten your URL now!     ">
    <meta name="apple-mobile-web-app-status-bar-style" content="#32DBF6" />
    <meta property="og:title" content="https://Urlie.xyz" />
    <meta name="keywords" content="URL shortener,URL,shortener,fast URL shortener,ad free,Googlie,Nerver sell your data">
    <meta property="og:description" content="URL shortener that fast and very simple just one click of a button and you will have your URL forever. What are you waiting for come shorten your URL now!"  />
 <meta name="robots" content="index, follow">
 <meta name="language" content="English">
     <title>Urlite | URL Shortener</title>
    <link  id="favicon"rel="icon" href="./urlite.webp" type="image/x-icon"/>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <nav>
      <h1>Urlite</h1>
    </nav>
    <div id="app">
      <section class="py-5">
        <div class="container">
   <div class="mb-3">
            <form method="POST" action="/">
       <input type="url" name="url" id="urltoshorten" placeholder="Enter the url to shorten" required>
    </div>
    <div class = "center">
    <div id = "vanityflex">
    <input id="vanity" name="slug" placeholder="Enter a slug (optional)" />
    <button type="submit">Shorten</button>
  </form>
    </div>
    </div>
    <div id="response">
      </div>
  <footer>
    <p class="footer">Copyright © Urlite</p>
</footer>
  <script src="./index.js" defer></script>
</html>
</body>
